@font-face {
  font-family: "ObysSans";
  src: url("./ObysSans4.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  /* font-family: "Space Grotesk", sans-serif; */
  font-family: "ObysSans";
}

html,
body {
  height: 100%;
  width: 100%;
}

.crsr {
  height: 2vw;
  width: 2vw;
  position: fixed;
  border-radius: 50%;
  border: 1px solid #ffffffbe;
  z-index: 9999;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #0b0b0b;
  padding: 25vh 10vw;
}

.line {
  /* background-color: red; */
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3vw;
}

.line h2 {
  font-size: 6.5vw;
  text-transform: capitalize;
  font-weight: 800;
  animation: 2s ease-in-out infinite normal;
  opacity: 0;
}

@keyframes now {
  0% {
    color: #fff;
    -webkit-text-stroke: 1px white;
    opacity: 0;
  }

  50% {
    color: transparent;
    -webkit-text-stroke: 1px white;
    opacity: 1;
  }

  100% {
    color: #fff;
    -webkit-text-stroke: 1px white;
    opacity: 0;
  }
}

.line1-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  gap: 1vw;
}

.line1-part1 h5,
h6 {
  font-size: 2.5vw;
  font-weight: 100;
  font-family: "Space Grotesk";
}

.line1-part1 h5 {
  width: 5vw;
  text-align: right;
}

.line h1 {
  font-size: 6.5vw;
  text-transform: capitalize;
  font-weight: 800;
}

#main {
  position: relative;
  background-color: #151515;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
  /* background-color: red; */
}

#page1 #nav {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.3vh 5.5vw;
}

#nav .nav-part2 {
  display: flex;
  align-items: center;
  gap: 3vw;
}

.nav-part2 h4 {
  font-weight: 500;
  cursor: pointer;
}

.hero-line {
  /* background-color: red; */
  width: 72%;
  margin-left: 27%;
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 99999;
}

.hero-line:nth-child(2) {
  margin-top: 18vh;
}

.hero-line h1 {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 7.2vw;
  line-height: 7.2vw;
}

.hero-line h2 {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 7.2vw;
  line-height: 7.2vw;
  border-bottom: 0.4vw solid white;
  margin-bottom: 0.5vw;
  transition: color 0.4s ease;
}

.hero-line h2:hover {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-weight: 500;
  border-bottom-color: transparent;
}

#page2 {
  height: 100vh;
  width: 100%;
  padding-top: 17vh;
  position: relative;
  /* overflow: hidden; */
}

#video-container {
  height: 66vh;
  width: 71vw;
  position: relative;
  left: 28%;
}

#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.video-cursor {
  height: 8vw;
  width: 8vw;
  background-color: #ffa63d;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  left: 70%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-cursor i {
  font-size: 2vw;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: black;
  position: relative;
}

#page4 {
  min-height: 100vh;
  width: 100%;
  /* background-color: rgb(97, 94, 94); */
  position: relative;
  padding: 7vh 0;
}

.page4-content {
  width: 72%;
  margin-left: 28%;
  position: relative;
}

.page4-content h1 {
  font-size: 6vw;
  text-transform: uppercase;
  font-weight: 500;
}

.page4-content hr {
  width: 96%;
  background-color: #fff;
  margin: 4vw 0;
}

.page4-content > p {
  font-size: 2vw;
  margin-bottom: 3vw;
}

.page4-flex {
  display: flex;
}

.page4-flex img {
  height: 43vw;
  width: 33vw;
}

.page4-flex p {
  width: 30%;
  margin-left: 4vw;
}

.blue-div {
  background-color: #3f7df4;
  width: 33vw;
  padding: 4vw 2vw;
  position: relative;
  margin-left: 23vw;
  margin-top: -22vh;
}

.blu-div-elem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5vw 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.464);
}

.blu-div-elem h4 {
  font-size: 1.3vw;
  font-weight: 500;
}

.blu-div-elem p {
  /* background-color: red; */
  width: 15vw;
}

#page5 {
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
}
